# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Android related
**/android/.gradle
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# Build
build/

# Windows related
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake
**/windows/flutter/generated_plugins/

# IDE
.idea/
*.iml
.vscode/

# Misc
.DS_Store
